{
	email {$ACME_EMAIL}
	admin 0.0.0.0:2019
	metrics
}

{$SITE_HOST:computexchange.net} {
	encode zstd gzip
	reverse_proxy control:8080 {
		health_uri /readyz
		health_interval 10s
		health_timeout 4s
	}
	log { output stdout }
}

{$STORAGE_HOST:storage.computexchange.net} {
	encode zstd gzip
	reverse_proxy minio:9000 {
		health_uri /minio/health/live
		health_interval 10s
		health_timeout 4s
	}
	log { output stdout }
}
